.logo {
  width: 100px;
  text-align: center;
}
.app_input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 238, 238);
}
.app_input:focus {
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}
.app_label {
  color: black;
  font-size: 12px;
}
.form_section {
  background-color: rgb(238, 238, 238);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.app_primary_button {
  background-color: #6bbd8c;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
}

.app_heading {
  text-transform: uppercase;
  text-align: center;
}
.action_btn {
  background-color: #6bbd8c2d;
  border: none;
  border-radius: 5px;
  color: #4b9a6b;
}
@media (max-width: 767px) {
  .app_heading {
    font-size: 15px;
  }
  .web_div {
    display: none !important;
  }

  .searchhh{
    /* margin-top: -100px !important; */
  }
}
@media (min-width: 767px) {
  .mobile_div {
    display: none !important;
  }
}
